/* https://loading.io/css/ */

.small-spinner {
	--color: lightgray;
	display: inline-block;
	width: 1em;
	height: 1em;
}

.small-spinner:after {
	content: " ";
	display: block;
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	border: 0.1em solid var(--color);
	border-color: var(--color) transparent var(--color) transparent;
	animation: small-spinner 3s linear infinite;
}

@keyframes small-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
